docker.enabled = true

// Input parameters

params {
    input_csv            = "${projectDir}/data/SRA_indrops_sample_sheet.csv"
    whitelist_half       = "${projectDir}/data/gel_barcode2_list.txt"
    results_folder       = "$HOME/indrops_outputs"
    gencode_genome_link       = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/GRCh38.primary_assembly.genome.fa.gz"
    gencode_annotation_link       = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.basic.annotation.gtf.gz"

    // Reference files for STAR index and STARsolo
    genome_fasta = "$HOME/gencode_v44_human_ref/GRCh38.primary_assembly.genome.fa"
    gtf_file = "$HOME/gencode_v44_human_ref/gencode.v44.basic.annotation.gtf"
    
    // STAR index location
    star_index_dir = "${System.getProperty('user.home')}/STAR_index"


    //reference             = "${projectDir}/data/XR_C_human.fa"
}

// Process configuration
process {
    // Default resources
    cpus = 1
    memory = '1.GB'
    
    withName: 'FASTP' {
        cpus = 2
        memory = '2.GB'
    }

    withName: 'STAR_INDEX' {
        cpus = 12
        memory = '32.GB'
        time = '4.h'
    }
    
    withName: 'STARSOLO_ALIGN' {
        cpus = 14
        memory = '32.GB'
        time = '4.h'
    }
}