docker.enabled = true

// Input parameters

params {
    results_folder       = "$HOME/indrops_outputs"
    whitelist_half       = "${projectDir}/data/gel_barcode2_list.txt"
}

// Profiles for different modes
// test: Mito genome, subset of reads
// full: Whole genome, all reads

profiles {
    full {
        params {

            // inDropsV3 data from https://www.ncbi.nlm.nih.gov/bioproject/PRJNA770092
            input_csv            = "${projectDir}/data/SRA_indrops_sample_sheet.csv"
            genome_fasta         = "$HOME/gencode_v44_human_ref/GRCh38.primary_assembly.genome.fa"
            gtf_file             = "$HOME/gencode_v44_human_ref/gencode.v44.basic.annotation.gtf"
            star_index_dir       = "$HOME/STAR_index"
            indexN               = 14
            read_limit           = 500000000

            // Originial FTP link for Gencode human genome reference and annotation file
            gencode_genome_link       = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/GRCh38.primary_assembly.genome.fa.gz"
            gencode_annotation_link       = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.basic.annotation.gtf.gz"
        }
    }
    
    test {
        params {
            // 50k Mito reads from https://www.ncbi.nlm.nih.gov/bioproject/PRJNA770092
            input_csv            = "${projectDir}/data/SRA_indrops_sample_sheet_chrM_50k.csv"
            genome_fasta         = "${projectDir}/data/gencode_v44_human_chrM/chrM.fa"
            gtf_file             = "${projectDir}/data/gencode_v44_human_chrM/chrM.gtf"
            star_index_dir       = "$HOME/STAR_index_chrM"
            indexN               = 6
            read_limit           = 100000
        }
    }
}


// Process configuration

process {
    // Default resources
    container = 'indrops_starsolo_nf'
    cpus = 1
    memory = '1.GB'
    
    withName: 'FASTP' {
        cpus = 4
        memory = '2.GB'
    }

    withName: 'STAR_INDEX' {
        cpus = 14
        memory = '32.GB'
        time = '4.h'
    }
    
    withName: 'STARSOLO_ALIGN' {
        cpus = 14
        memory = '40.GB'
        time = '4.h'
    }
}